src/wsdl/rhinservicestaging.azurewebsites.net/RHINWebService.svc.xsd_xsd2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/HIELibrary.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HIELibrary.Entities">
<xs:import schemaLocation="https://rhinservicestaging.azurewebsites.net/RHINWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
<xs:import schemaLocation="https://rhinservicestaging.azurewebsites.net/RHINWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
<xs:complexType name="RHINRepositoryEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element minOccurs="0" name="Participant" nillable="true" type="tns:ParticipantEntity"/>
<xs:element minOccurs="0" name="ReferringOrganization" nillable="true" type="tns:OrganizationEntity"/>
<xs:element minOccurs="0" name="RepositoryDetails" nillable="true" type="tns:RepositoryEntity"/>
<xs:element minOccurs="0" name="Session" nillable="true" type="tns:RepositorySessionEntity"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="RHINRepositoryEntity" nillable="true" type="tns:RHINRepositoryEntity"/>
<xs:complexType name="Entity">
<xs:sequence>
<xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="ApplicationVersion" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Error" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Entity" nillable="true" type="tns:Entity"/>
<xs:complexType name="ParticipantEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element name="Address" nillable="true" type="xs:string"/>
<xs:element name="BedCount" type="xs:int"/>
<xs:element name="BillingAddress" nillable="true" type="xs:string"/>
<xs:element name="BillingCity" nillable="true" type="xs:string"/>
<xs:element name="BillingPostalCode" nillable="true" type="xs:string"/>
<xs:element name="BillingStateCode" nillable="true" type="xs:string"/>
<xs:element name="City" nillable="true" type="xs:string"/>
<xs:element name="ContractDate" nillable="true" type="xs:dateTime"/>
<xs:element name="DefaultRepositoryID" type="xs:int"/>
<xs:element name="Discription" nillable="true" type="xs:string"/>
<xs:element name="DocumentRootFolderHeader" nillable="true" type="xs:string"/>
<xs:element name="ExtenderCount" type="xs:int"/>
<xs:element name="FaxSecureLinkPageTrigger" nillable="true" type="xs:string"/>
<xs:element name="HealthSystemID" type="xs:int"/>
<xs:element name="InvoiceDuration" nillable="true" type="xs:string"/>
<xs:element name="IsActive" type="xs:boolean"/>
<xs:element name="IsAllowSaveLogin" type="xs:boolean"/>
<xs:element name="IsBaseReportsIncluded" type="xs:boolean"/>
<xs:element name="IsFaxRestricted" type="xs:boolean"/>
<xs:element name="IsIncludeHealthcareAddressBook" type="xs:boolean"/>
<xs:element name="IsNoCoverPage" type="xs:boolean"/>
<xs:element name="IsPatientSearch" type="xs:boolean"/>
<xs:element name="IsRepositoryRestricted" type="xs:boolean"/>
<xs:element name="IsSecureLink" type="xs:boolean"/>
<xs:element name="IsWorkQueueAppointments" type="xs:boolean"/>
<xs:element name="IsWorkQueueAssignments" type="xs:boolean"/>
<xs:element name="IsWorkQueuePatientLink" type="xs:boolean"/>
<xs:element name="IsWorkQueuePatientName" type="xs:boolean"/>
<xs:element name="LoginBannerFileName" nillable="true" type="xs:string"/>
<xs:element name="LoginDisclaimerText" nillable="true" type="xs:string"/>
<xs:element name="MonthlyFaxPages" type="xs:int"/>
<xs:element name="MonthlyFee" type="xs:int"/>
<xs:element name="OutboundFaxPageLimit" type="xs:int"/>
<xs:element name="ParticipantID" type="xs:int"/>
<xs:element name="ParticipantName" nillable="true" type="xs:string"/>
<xs:element name="ParticipantNameLegal" nillable="true" type="xs:string"/>
<xs:element name="ParticipantTaxID" nillable="true" type="xs:string"/>
<xs:element name="ParticipantTypeID" type="xs:int"/>
<xs:element name="PhysicianCount" type="xs:int"/>
<xs:element name="PostalCode" nillable="true" type="xs:string"/>
<xs:element name="RegistrationAgreementLink" nillable="true" type="xs:string"/>
<xs:element name="StateCode" nillable="true" type="xs:string"/>
<xs:element name="_x003C_LastUpdateDateTime_x003E_k__BackingField" nillable="true" type="xs:dateTime"/>
<xs:element name="_x003C_UserUpdated_x003E_k__BackingField" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="ParticipantEntity" nillable="true" type="tns:ParticipantEntity"/>
<xs:complexType name="OrganizationEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element name="DirectConnectionType" nillable="true" type="xs:string"/>
<xs:element name="DirectEmail" nillable="true" type="xs:string"/>
<xs:element name="DirectPassword" nillable="true" type="xs:string"/>
<xs:element name="DirectServerPort" type="xs:int"/>
<xs:element name="DirectServerURL" nillable="true" type="xs:string"/>
<xs:element name="InboundFax" nillable="true" type="xs:string"/>
<xs:element name="IsActive" type="xs:boolean"/>
<xs:element name="IsAutoDownload" type="xs:boolean"/>
<xs:element name="IsAutoSort" type="xs:boolean"/>
<xs:element name="IsDirectActive" type="xs:boolean"/>
<xs:element name="IsExclusive" type="xs:boolean"/>
<xs:element name="IsHidden" type="xs:boolean"/>
<xs:element name="IsNoCoverPage" type="xs:boolean"/>
<xs:element name="IsNonMemberUpload" type="xs:boolean"/>
<xs:element name="IsPatientRequest" type="xs:boolean"/>
<xs:element name="IsPatientRequestFile" type="xs:boolean"/>
<xs:element name="IsPrivate" type="xs:boolean"/>
<xs:element name="IsRHIOMember" type="xs:boolean"/>
<xs:element name="IsUnlimitedInboundFax" type="xs:boolean"/>
<xs:element name="IsUserMasked" type="xs:boolean"/>
<xs:element name="NoArchive" type="xs:boolean"/>
<xs:element name="OrganizationDBA" nillable="true" type="xs:string"/>
<xs:element name="OrganizationDescription" nillable="true" type="xs:string"/>
<xs:element name="OrganizationID" type="xs:int"/>
<xs:element name="OrganizationNameAbbreviated" nillable="true" type="xs:string"/>
<xs:element name="OrganizationNameLegal" nillable="true" type="xs:string"/>
<xs:element name="OrganizationTaxID" nillable="true" type="xs:string"/>
<xs:element name="OrganizationTypeID" type="xs:int"/>
<xs:element name="ParticipantID" type="xs:int"/>
<xs:element name="ParticipantName" nillable="true" type="xs:string"/>
<xs:element name="PhysicalAddress1" nillable="true" type="xs:string"/>
<xs:element name="PhysicalAddress2" nillable="true" type="xs:string"/>
<xs:element name="PhysicalCity" nillable="true" type="xs:string"/>
<xs:element name="PhysicalPostalCode" nillable="true" type="xs:string"/>
<xs:element name="PhysicalStateCode" nillable="true" type="xs:string"/>
<xs:element name="ProcessErrorFax" type="xs:boolean"/>
<xs:element name="ReferralFax" nillable="true" type="xs:string"/>
<xs:element name="SendingFax" nillable="true" type="xs:string"/>
<xs:element name="_x003C_LastUpdateDateTime_x003E_k__BackingField" nillable="true" type="xs:dateTime"/>
<xs:element name="_x003C_UserUpdated_x003E_k__BackingField" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="OrganizationEntity" nillable="true" type="tns:OrganizationEntity"/>
<xs:complexType name="RepositoryEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element minOccurs="0" name="ConfigurationFileLink" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DICOMID" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DICOMNamespace" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DICOMSerialNumber" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="ENSSendMapping" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="ExportItems" type="xs:int"/>
<xs:element minOccurs="0" name="ExportTypeID" type="xs:int"/>
<xs:element minOccurs="0" name="GatewayAllowedIPAddress" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="GatewayDefaultAreaCode" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="GatewayDownloadCreateWorkQueueFolders" type="xs:boolean"/>
<xs:element minOccurs="0" name="GatewayDownloadFilePrefix" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="GatewayDownloadFileTemplateID" type="xs:int"/>
<xs:element minOccurs="0" name="GatewayDownloadFolder" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="GatewayDownloadOverwriteFiles" type="xs:boolean"/>
<xs:element minOccurs="0" name="GatewayDownloadTIFF" type="xs:boolean"/>
<xs:element minOccurs="0" name="GatewayEnabled" type="xs:boolean"/>
<xs:element minOccurs="0" name="GatewayHL7ListenerEnabled" type="xs:boolean"/>
<xs:element minOccurs="0" name="GatewayHL7ListenerPort" type="xs:int"/>
<xs:element minOccurs="0" name="GatewayHL7SenderEnabled" type="xs:boolean"/>
<xs:element minOccurs="0" name="GatewayHL7SenderIPAddress" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="GatewayHL7SenderPort" type="xs:int"/>
<xs:element minOccurs="0" name="GatewayHL7UploadDeleteFiles" type="xs:boolean"/>
<xs:element minOccurs="0" name="GatewayHL7UploadFolder" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="GatewayPollingInterval" type="xs:int"/>
<xs:element minOccurs="0" name="GatewayUploadCheckSubFolders" type="xs:boolean"/>
<xs:element minOccurs="0" name="GatewayUploadDeleteFiles" type="xs:boolean"/>
<xs:element minOccurs="0" name="GatewayUploadFileTemplateID" type="xs:int"/>
<xs:element minOccurs="0" name="GatewayUploadFileTypeFilters" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="GatewayUploadFolder" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="GatewayUploadStatusFileTemplateID" type="xs:int"/>
<xs:element minOccurs="0" name="InterfaceDBConnectionString" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="InterfaceDatabaseName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="IsActive" type="xs:boolean"/>
<xs:element minOccurs="0" name="IsProtected" type="xs:boolean"/>
<xs:element minOccurs="0" name="IsTest" type="xs:boolean"/>
<xs:element minOccurs="0" name="LastUpdateDateTime" nillable="true" type="xs:dateTime"/>
<xs:element minOccurs="0" name="ParticipantID" type="xs:int"/>
<xs:element minOccurs="0" name="ReferringOrganizationID" type="xs:int"/>
<xs:element minOccurs="0" name="RepositoryID" type="xs:int"/>
<xs:element minOccurs="0" name="RepositoryKey" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="RepositoryName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="RepositoryShortName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="UserUpdated" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="XDSDBConnectionString" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="XDSDatabaseName" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="RepositoryEntity" nillable="true" type="tns:RepositoryEntity"/>
<xs:complexType name="RepositorySessionEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element minOccurs="0" name="RepositoryID" type="xs:int"/>
<xs:element minOccurs="0" name="SessionEndDateTime" nillable="true" type="xs:dateTime"/>
<xs:element minOccurs="0" name="SessionToken" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="RepositorySessionEntity" nillable="true" type="tns:RepositorySessionEntity"/>
<xs:complexType name="RHINUserEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element name="Acknowledgement" type="tns:RHINUserEntity.UserAcknowledgement"/>
<xs:element name="ActiveWorkQueue" nillable="true" type="tns:OrganizationEntity"/>
<xs:element name="DefaultWorkQueue" nillable="true" type="tns:OrganizationEntity"/>
<xs:element name="Participant" nillable="true" type="tns:ParticipantEntity"/>
<xs:element name="PermissionsList" nillable="true" type="tns:ArrayOfRHINUserEntity.UserPermissions"/>
<xs:element name="Repository" nillable="true" type="tns:RepositoryEntity"/>
<xs:element name="Session" nillable="true" type="tns:UserSessionEntity"/>
<xs:element name="SettingsList" nillable="true" type="tns:ArrayOfRHINUserEntity.UserSettings"/>
<xs:element name="Signature" nillable="true" type="xs:base64Binary"/>
<xs:element name="UserDetails" nillable="true" type="tns:UserEntity"/>
<xs:element name="WorkQueueList" nillable="true" type="tns:ArrayOfRHINUserEntity.UserOrganizations"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="RHINUserEntity" nillable="true" type="tns:RHINUserEntity"/>
<xs:complexType name="RHINUserEntity.UserAcknowledgement">
<xs:annotation>
<xs:appinfo>
<IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
</xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element minOccurs="0" name="AcknowledgedText" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime"/>
<xs:element minOccurs="0" name="SignedName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="UserAcknowledgementID" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="RHINUserEntity.UserAcknowledgement" nillable="true" type="tns:RHINUserEntity.UserAcknowledgement"/>
<xs:complexType name="ArrayOfRHINUserEntity.UserPermissions">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="RHINUserEntity.UserPermissions" type="tns:RHINUserEntity.UserPermissions"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfRHINUserEntity.UserPermissions" nillable="true" type="tns:ArrayOfRHINUserEntity.UserPermissions"/>
<xs:complexType name="RHINUserEntity.UserPermissions">
<xs:annotation>
<xs:appinfo>
<IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
</xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element minOccurs="0" name="Permission" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="PermissionID" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="RHINUserEntity.UserPermissions" nillable="true" type="tns:RHINUserEntity.UserPermissions"/>
<xs:complexType name="UserSessionEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element name="IsPasswordSet" type="xs:boolean"/>
<xs:element name="RHINUserID" type="xs:int"/>
<xs:element name="SessionEndDate" nillable="true" type="xs:dateTime"/>
<xs:element name="SessionToken" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="UserSessionEntity" nillable="true" type="tns:UserSessionEntity"/>
<xs:complexType name="ArrayOfRHINUserEntity.UserSettings">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="RHINUserEntity.UserSettings" type="tns:RHINUserEntity.UserSettings"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfRHINUserEntity.UserSettings" nillable="true" type="tns:ArrayOfRHINUserEntity.UserSettings"/>
<xs:complexType name="RHINUserEntity.UserSettings">
<xs:annotation>
<xs:appinfo>
<IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
</xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element minOccurs="0" name="IsToggle" type="xs:boolean"/>
<xs:element minOccurs="0" name="Setting" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="SettingID" type="xs:int"/>
<xs:element minOccurs="0" name="SettingValue" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="RHINUserEntity.UserSettings" nillable="true" type="tns:RHINUserEntity.UserSettings"/>
<xs:complexType name="UserEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element name="AllowEmailNotifications" type="xs:boolean"/>
<xs:element name="DefaultOrganizationID" type="xs:int"/>
<xs:element name="DisplayName" nillable="true" type="xs:string"/>
<xs:element name="Email" nillable="true" type="xs:string"/>
<xs:element name="FirstName" nillable="true" type="xs:string"/>
<xs:element name="IsActive" type="xs:boolean"/>
<xs:element name="IsDesktopEnabled" type="xs:boolean"/>
<xs:element name="IsPasswordSet" type="xs:boolean"/>
<xs:element name="LastName" nillable="true" type="xs:string"/>
<xs:element name="MiddleName" nillable="true" type="xs:string"/>
<xs:element name="Notes" nillable="true" type="xs:string"/>
<xs:element name="OrganizationID" type="xs:int"/>
<xs:element name="ParticipantAuthorizedRHINUser" nillable="true" type="xs:string"/>
<xs:element name="ParticipantAuthorizedRHINUserID" type="xs:int"/>
<xs:element name="ParticipantID" type="xs:int"/>
<xs:element name="Picture" nillable="true" type="xs:base64Binary"/>
<xs:element name="RHINUserID" type="xs:int"/>
<xs:element name="RHINUserName" nillable="true" type="xs:string"/>
<xs:element name="SecurityQuestionAnswer" nillable="true" type="xs:string"/>
<xs:element name="SecurityQuestionID" type="xs:int"/>
<xs:element name="TelephoneExtension" nillable="true" type="xs:string"/>
<xs:element name="TelephoneNumber" nillable="true" type="xs:string"/>
<xs:element name="UserTypeID" type="xs:int"/>
<xs:element name="_x003C_LastUpdateDateTime_x003E_k__BackingField" nillable="true" type="xs:dateTime"/>
<xs:element name="_x003C_UserUpdated_x003E_k__BackingField" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="UserEntity" nillable="true" type="tns:UserEntity"/>
<xs:complexType name="ArrayOfRHINUserEntity.UserOrganizations">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="RHINUserEntity.UserOrganizations" type="tns:RHINUserEntity.UserOrganizations"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfRHINUserEntity.UserOrganizations" nillable="true" type="tns:ArrayOfRHINUserEntity.UserOrganizations"/>
<xs:complexType name="RHINUserEntity.UserOrganizations">
<xs:annotation>
<xs:appinfo>
<IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
</xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element minOccurs="0" name="OrganizationID" type="xs:int"/>
<xs:element minOccurs="0" name="OrganizationNameAbbreviated" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="ParticipantID" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="RHINUserEntity.UserOrganizations" nillable="true" type="tns:RHINUserEntity.UserOrganizations"/>
<xs:complexType name="UserDesktopActionsEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element minOccurs="0" name="UserDesktopActionList" nillable="true" type="tns:ArrayOfUserDesktopActionEntity"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="UserDesktopActionsEntity" nillable="true" type="tns:UserDesktopActionsEntity"/>
<xs:complexType name="ArrayOfUserDesktopActionEntity">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="UserDesktopActionEntity" nillable="true" type="tns:UserDesktopActionEntity"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfUserDesktopActionEntity" nillable="true" type="tns:ArrayOfUserDesktopActionEntity"/>
<xs:complexType name="UserDesktopActionEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element name="CreateDateTime" nillable="true" type="xs:dateTime"/>
<xs:element name="DocumentLink" nillable="true" type="xs:string"/>
<xs:element name="DownloadPath" nillable="true" type="xs:string"/>
<xs:element name="LoadPageURL" nillable="true" type="xs:string"/>
<xs:element name="MarkReferralDone" type="xs:boolean"/>
<xs:element name="NotificationText" nillable="true" type="xs:string"/>
<xs:element name="OrganizationID" type="xs:int"/>
<xs:element name="ReferralID" type="xs:int"/>
<xs:element name="ReferralOrganizationStatusID" type="xs:int"/>
<xs:element name="ReloadRHINUser" type="xs:boolean"/>
<xs:element name="UserDesktopActionID" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="UserDesktopActionEntity" nillable="true" type="tns:UserDesktopActionEntity"/>
<xs:complexType name="RHINFilesEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfRHINFileEntity"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="RHINFilesEntity" nillable="true" type="tns:RHINFilesEntity"/>
<xs:complexType name="ArrayOfRHINFileEntity">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="RHINFileEntity" nillable="true" type="tns:RHINFileEntity"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfRHINFileEntity" nillable="true" type="tns:ArrayOfRHINFileEntity"/>
<xs:complexType name="RHINFileEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element minOccurs="0" name="Document" nillable="true" type="tns:DocumentEntity"/>
<xs:element minOccurs="0" name="File" nillable="true" type="tns:FileEntity"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="RHINFileEntity" nillable="true" type="tns:RHINFileEntity"/>
<xs:complexType name="DocumentEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element minOccurs="0" name="DocumentDate" nillable="true" type="xs:dateTime"/>
<xs:element minOccurs="0" name="DocumentDescription" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DocumentID" type="xs:int"/>
<xs:element minOccurs="0" name="DocumentLink" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DocumentTitle" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DocumentTypeID" type="xs:int"/>
<xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="LoadDateTime" nillable="true" type="xs:dateTime"/>
<xs:element minOccurs="0" name="MimeTypeID" type="xs:int"/>
<xs:element minOccurs="0" name="OrganizationID" type="xs:int"/>
<xs:element minOccurs="0" name="RHINUserDisplayName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="RHINUserID" type="xs:int"/>
<xs:element minOccurs="0" name="ReceivingOrganizationName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="ReferralID" type="xs:int"/>
<xs:element minOccurs="0" name="ThumbnailLink" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="TotalPages" type="xs:int"/>
<xs:element minOccurs="0" name="TypeAndSubType" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentEntity" nillable="true" type="tns:DocumentEntity"/>
<xs:complexType name="FileEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element minOccurs="0" name="FileData" nillable="true" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="FileExtension" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="FileEntity" nillable="true" type="tns:FileEntity"/>
<xs:complexType name="GenericEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IntList" nillable="true" type="q1:ArrayOfint"/>
<xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StringList" nillable="true" type="q2:ArrayOfstring"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="GenericEntity" nillable="true" type="tns:GenericEntity"/>
<xs:complexType name="FilesEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfFileEntity"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="FilesEntity" nillable="true" type="tns:FilesEntity"/>
<xs:complexType name="ArrayOfFileEntity">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="FileEntity" nillable="true" type="tns:FileEntity"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfFileEntity" nillable="true" type="tns:ArrayOfFileEntity"/>
<xs:complexType name="PatientEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element name="_x003C_Address1_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_Address2_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_DateOfBirth_x003E_k__BackingField" nillable="true" type="xs:dateTime"/>
<xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_Gender_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_IsOptOut_x003E_k__BackingField" type="xs:boolean"/>
<xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_MaritalStatus_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_MiddleName_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_PostalCode_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_PrimaryRMPINumber_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_PrimaryTelephoneNumber_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_RMPINumber_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_RaceCode_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_SSN_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_StateCode_x003E_k__BackingField" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="PatientEntity" nillable="true" type="tns:PatientEntity"/>
<xs:complexType name="ArrayOfClinicalDocumentEntity">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="ClinicalDocumentEntity" nillable="true" type="tns:ClinicalDocumentEntity"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfClinicalDocumentEntity" nillable="true" type="tns:ArrayOfClinicalDocumentEntity"/>
<xs:complexType name="ClinicalDocumentEntity">
<xs:complexContent mixed="false">
<xs:extension base="tns:Entity">
<xs:sequence>
<xs:element name="_x003C_Confidentiality_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_CreateDateTime_x003E_k__BackingField" nillable="true" type="xs:dateTime"/>
<xs:element name="_x003C_DocumentFormat_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_DocumentType_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_HealthcareFacilityType_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_PatientID_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_ProviderName_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_ProviderOrganization_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_ProviderType_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_RepositoryID_x003E_k__BackingField" nillable="true" type="xs:string"/>
<xs:element name="_x003C_ServiceStartTime_x003E_k__BackingField" nillable="true" type="xs:dateTime"/>
<xs:element name="_x003C_ServiceStopTime_x003E_k__BackingField" nillable="true" type="xs:dateTime"/>
<xs:element name="_x003C_UniqueID_x003E_k__BackingField" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="ClinicalDocumentEntity" nillable="true" type="tns:ClinicalDocumentEntity"/>
</xs:schema>